@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 100;
  src: local('Noto Sans KR Thin'), local('Noto Sans KR-Thin'), local('NotoSansKR Thin');
  src: url(font/NotoSansKR-Thin.woff2) format('woff2'),
       url(font/NotoSansKR-Thin.woff) format('woff'),
       url(font/NotoSansKR-Thin.otf) format('opentype');
}

@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 300;
  src: local('Noto Sans KR Light'), local('Noto Sans KR-Light'), local('NotoSansKR Light');
  src: url(font/NotoSansKR-Light.woff2) format('woff2'),
       url(font/NotoSansKR-Light.woff) format('woff'),
       url(font/NotoSansKR-Light.otf) format('opentype');
}

@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans KR Regular'), local('Noto Sans KR-Regular'), local('NotoSansKR Regular');
  src: url(font/NotoSansKR-Regular.woff2) format('woff2'),
       url(font/NotoSansKR-Regular.woff) format('woff'),
       url(font/NotoSansKR-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 500;
  src: local('Noto Sans KR Medium'), local('Noto Sans KR-Medium'), local('NotoSansKR Medium');
  src: url(font/NotoSansKR-Medium.woff2) format('woff2'),
       url(font/NotoSansKR-Medium.woff) format('woff'),
       url(font/NotoSansKR-Medium.otf) format('opentype');
}

@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans KR Bold'), local('Noto Sans KR-Bold'), local('NotoSansKR Bold');
  src: url(font/NotoSansKR-Bold.woff2) format('woff2'),
       url(font/NotoSansKR-Bold.woff) format('woff'),
       url(font/NotoSansKR-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 900;
  src: local('Noto Sans KR Black'), local('Noto Sans KR-Black'), local('NotoSansKR Black');
  src: url(font/NotoSansKR-Black.woff2) format('woff2'),
       url(font/NotoSansKR-Black.woff) format('woff'),
       url(font/NotoSansKR-Black.otf) format('opentype');
}
